<div class="fixed top-0 z-50 right-0 left-0 bg-[#69f0ae] text-gray-800">
  <div class="px-5 lg:px-20 h-16 flex items-center justify-between">
    <div class="flex items-center">
      <div class="mr-5">
        <img
          class="w-8"
          src="https://res.cloudinary.com/zenbusiness/q_auto/v1/logaster/logaster-2020-08-t-ecommerce-7.jpg"
          alt="Logo Image"
        />
      </div>
      <div class="">
        <div class="flex items-center space-x-4">
          <a routerLink="/" class="text-gray-800 font-semibold text-lg"> Shop With Fasil </a>
          <div>
            <button
              class="open-button"
              (click)="openNavbarContent('men')"
              mat-button
            >
              Men
            </button>
          </div>
          <div>
            <button
              class="open-button"
              (click)="openNavbarContent('women')"
              mat-button
            >
              Women
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center">
      <button (click)="navigateTo('cart')" mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button
        (click)="navigateTo('cart')"
        mat-raised-button
        type=""
        color="accent"
        class="hidden"
      >
        Login
      </button>
      <div class="ml-3 flex items-center">
        <div class="flex items-center space-x-5">
          <span class="font-bold text-lg">Fasil</span>
          <button mat-button [matMenuTriggerFor]="profileMenu">
            <img
              class="h-5 w-5"
              src="https://cdn.pixabay.com/photo/2017/01/31/21/23/avatar-2027366_1280.png"
              alt="Profile Image"
            />
          </button>
          <mat-menu #profileMenu="matMenu">
            <button mat-menu-item>Orders</button>
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Logout</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal-container absolute right-0 left-0"
    *ngIf="isNavbarContentOpen"
  >
    <app-nav-content [selectedSection]="currentSection"></app-nav-content>
  </div>
</div>
