<div class="">
  <div class="">
    <app-main-carousel></app-main-carousel>
  </div>
  <div class="">
    <app-product-slider title="Men's Jeans" [products]="menJeans"></app-product-slider>
    <app-product-slider title="Men's Jeans"></app-product-slider>
    <app-product-slider title="Men's Jeans"></app-product-slider>
    <app-product-slider title="Men's Jeans"></app-product-slider>
    <app-product-slider title="Men's Jeans"></app-product-slider>
    <app-product-slider title="Men's Jeans"></app-product-slider>
  </div>
</div>
